:host.game-board {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: lightblue;
}
.card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
