<p>new-game-form works!</p>
<form action="new-game" class="new-game-form">
  <label for="color-closedcard">color closedcard:</label>
  <input type="color" id="color-closedcard" name="color-closedcard"><br>
  <label for="color-opencard">color opencard:</label>
  <input type="color" id="color-opencard" name="color-opencard"><br>
  <label for="color-foundcard">color foundcard:</label>
  <input type="color" id="color-foundcard" name="color-foundcard">
  <button type="submit">Submit</button>
</form>
